# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maren\Documents\IT\AlgoritmerOgDatastrukturer\Obliger\Oblig1\Oblig1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
